@{
    ViewData["Title"] = "CompleteForgetPassword";
    Layout = "~/Views/Shared/_AuthentLayout.cshtml";
}


<div class="main-agileinfo">
    <div class="agileits-top">
        <div class="card">
            <div class="body">
                <p>password reset link has been sent to your Email please Check your Inbox :)</p>
                    <a class="btn btn-primary" target="_blank" href="https://mail.google.com/mail/u/4/#inbox">Open Your Email Inbox</a>
            </div>
        </div>
    </div>
</div>